
.heading{
    background-color:#17a2b8;
    color:white;
    padding: 1.5rem;
    text-align: center;
}

body{
    font-size: xx-large;
    margin: 0px;
}
 

.rounded-circle{ 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 350px;
    border: 4px solid #333;
    border-radius: 50%!important;
    width: 100%;
    height: auto;
    position: relative;
    top: 10px;
}
.container{
    width: 50%;
    position: relative;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    resize: none;
    padding: 1rem;
    max-width:600px;
    
}
.txt-input{
    margin: 25px 50px 75px 100px;
    position: relative;
    text-align: center;
    display: block;
    padding: 2px;
    max-width:600px;
    min-height: 20vh;
}

#button {
    background-color: #17a2b8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
  }
  #button:hover {
    transition: 0.2s ease-in;
    background-color: #118a9c;
  }

    #output {
        border: 1px solid black;
        height: 10vh;
        width: 80%;
        margin: 1rem;
        padding: 1rem;
    }
    




